<html lang="en">
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #282a4b;
                color: #F5F5F5;
                text-align: center;
            }
            main {
                display: flex;
                flex-direction: column;
                font-family: Arial;
            }
            a {
                color: #F5F5F5;
                text-decoration: none;
            }
            a:hover {
                color: #502882;
            }
        </style>
    </head>
    <body>
        <main>
            <h1>There's an error with what you just tried to do, and IDK what it was so dont ask me!</h1>
            <h2>Next time, try not doing that, Ok?</h2>
            <h3>or better yet, maybe someone should have fixed the error causing this!</h3>
            <h4>either way, Good luck! Bye!</h4>
            <a href="/">home</a>
        </main>
    </body>
</html>
